export(available.models)
export(chat)
export(chat.convert)
export(chat.edit)
export(chat.recent)
export(chat.save)
export(chat.setup)
export(connect.genai)
export(text)
export(text.explain.code)
export(text.fix.grammar)
export(text.image)
export(text.optimize.code)

import(base64enc)
import(httr)
import(jsonlite)
import(tools)
